%nav.top-bar{"data-topbar" => "", :role => "navigation"}
	%ul.title-area
		%li.name
			%h1
				= link_to "Jekyll Pub", root_path
		%li.toggle-topbar.menu-icon
			%a{:href => "#"}
				%span
	%section.top-bar-section
		%ul.right
			- if logged_in?
				%li= link_to "New Article", new_article_path
				%li= link_to "Articles", articles_path
				%li= link_to "Settings", user_path(current_user)
				%li= link_to "Log Out", logout_path, method: "delete"
			- else
				%li= link_to "GitHub", "http://github.com/jekyllpub/jekyllpub", target: "_blank"